body{
	text-align: center;
	overflow: auto !important;
	margin-left: 2em !important;
	margin-right: 2em !important;
	min-width: 1200px;
	min-height: 600px;
}

canvas{
	border: 5px solid hsl(0, 0%, 60%);
	padding: 2px;
	background: hsl(0, 0%, 20%);
	outline: 5px solid hsl(0, 0%, 70%);
	box-shadow:
	0 0 0 10px hsl(0, 0%, 80%),
	0 0 0 15px hsl(0, 0%, 90%);
}

#game{
	float: right;
}

#player-detail{
	display: block;
	min-height: 10em !important;
	max-height: 30em !important;
}

#editor{
	display: block;
	min-height: 10em !important;
	max-height: 30em !important;
}

#code-area{
	display: block;
	width: 100% !important;
	color: gray;
	font-size: 120%;
	background-color: #f9f9f9 !important;
	height: 12em;
}

#execute{
	display: block;
	cursor: pointer;
	color: gray;
	background-color: rgb(200, 200, 200);
}

#execute:hover{
	background-color: rgb(178, 223, 172);
}

.CodeMirror{
	text-align: left !important;
}