body{
	text-align: center;
	/*overflow: auto !important;*/
	margin-left: 1em !important;
	margin-right: 1em !important;
}

canvas{
	display: inline-block !important;
	border: 5px solid hsl(0, 0%, 60%);
	padding: 2px;
	background: hsl(0, 0%, 20%);
	outline: 5px solid hsl(0, 0%, 70%);
	box-shadow:
	0 0 0 10px hsl(0, 0%, 80%),
	0 0 0 15px hsl(0, 0%, 90%);
}

#game{
	display: inline-block;
}

#player-detail{
	display: inline-block;
	border: 3px dashed gray;
	min-width: 15%;
	padding: 1em;
}

#editor{
	display: inline-block;
	border: 3px dashed gray;
	min-width: 15%;
	padding: 1em;
}

#code-area{
	color: blue;
	background-color: lightgrey;
	min-height: 75%;
}