/*.container{
	zoom: 1.5;
}
*/
img{
	display: inline-block;
	max-height: 100px;
	min-height: 50px;
	margin: 5%;
}

a{
	text-decoration: none !important;
}

.disable{
	cursor: not-allowed;
}