img{
	display: inline-block;
	min-height: 50px;
	max-width: 25vh;
	margin: 5%;
}

a{
	text-decoration: none !important;
}

#level-list{
	margin-top: 10vh;
}

.disable{
	cursor: not-allowed;
}