* {	
	font-family: 'Raleway', sans-serif;
}

body{
	margin-top: 5% !important;
	text-align: center;
}

#back{
	position: absolute !important;
	top: 10px !important;
	left: 5px;
	border: 5px solid;
	border-radius: 50px;
	padding: 5px;
	font-size: 30px !important;
	text-decoration: none !important;
}

#logout{
	zoom: 1 !important;
	position: fixed;
	top: 1em;
	right: 1em;
}