body{
	margin-top: 3em !important;
}

a{
	padding: 5% 15% 5% 15% !important;
	margin: 5% !important;
}

img{
	width: 25% !important;
	height: 25% !important;
	pointer-events: none !important;
}

h1{
	margin: 5% !important;
}

form{
	text-align: left;
}

#content{
	zoom: 150%;
}